/********** Template CSS **********/
:root {
    --primary: #FFCB05;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}



/*** Button ***/
.btn {
    transition: .5s;
    /* padding-bottom: 12px; */
    transition: .5s;
    gap: 36px;
    /* padding-top: 13px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.bouton-image{
    height: 100px;
    width: 130px;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}
.btn-custom{
    border-left: 9px solid #f1c40f;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-radius: 10px;
    padding: 34px 35px 26px 100px !important;
    font-size: larger !important;
    background-color: #F8F8F8;
    text-shadow: 7px 13px 4px rgba(255, 203, 5, 0.31);
    box-shadow: 0 10px 20px 0px rgb(166 166 166 / 18%) !important;
}

/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
}

.content {
    /* margin-left: 250px; */
    min-height: 100vh;
    background: #e9e9e9;
    transition: 0.5s;
}

.text-main{
    color: #F3D66D;
    margin-left: 10px;
}

.case{
    background: #FFFFFF;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding-left: 45px;
    padding-right: 69px;

}
.bac{
    width: 40px;
    margin-left: 7px;
    margin-top: 14px;
    /* position: absolute; */
}
.casex{
    background: #FFFFFF;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content:space-between;

}
.bbt:hover{
    box-shadow: unset !important;
}

.case-user{
    box-shadow: 4px 4px 11px rgba(139, 136, 136, 0.25);
    text-align: center; 
    padding: 30px; 
    border-radius: 20px; 
    
    height: 390px;
    font-weight: 500;
}
.conteneur{
    box-shadow: 4px 4px 11px rgba(139, 136, 136, 0.25);
    padding: 50px;
    border-radius: 20px; 
}
.menu-langue{
    width: 254px;
    height: 168px;
    gap: 0px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 9px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-color: #FFFFFF;
    padding: 10px;
}
.zone3,.zone{
    gap: 0px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding-top: 7px;
    padding-left: 12px;
    height: 161px;
}
.prix-bouton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991.98px) {
    
    .zone3{
        width: 88vw;
        height: 25vh;
 }
        
    }

.conteneur-select{
    display: flex;
}
.select{
    background-color: #FCFDFD; 
    border-color: #D5D5D5; 
    width: 171px; 
    height: 36px; 
    border-radius: 4px ;
    color: #231F20;
    text-align: center;
}
/* Css du tableau en bas du home page */
.select-table{
    background-color: #FCFDFD; 
    border-color: #D5D5D5; 
    width: 171px; 
    height: 36px; 
    border-radius: 4px ;
    color: #231F20;
    text-align: center;
}

.titre-tableau{
    font-size: 24px; color: rgba(32, 34, 36, 1);
}

.head-tableau{
   background-color: rgba(241, 244, 249, 1);
   font-size: 18px;
   text-align: center;
   
}

.corps-tableau{
    font-size: 18px;
    text-align: center;
}
.bouton-table{
    background-color: rgba(0, 182, 155, 0.1); 
    color: rgba(0, 182, 155, 1); 
    padding: 7px 40px 7px 40px; 
    width: 148px;
}

@media (max-width: 850px) {
    
    .conteneur-select{
        display: block;
    }

    .select-table{
        margin-top: 10px;
        margin-left: 20px;
    }
    
    .head-tableau , .corps-tableau{
        font-size: small;
    }
    .titre-tableau{
        font-size: 18px; 
    }

    .bouton-table{
        padding: 7px 15px 7px 15px; 
        
    }
     
}

.conteneur-haut{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espace de 20px entre les éléments */
}

.table-search{
    background-color: #F5F6FA; 
    border-color: #D5D5D5; 
    color: #202224; 
    border-radius: 10px;
    width: 45vw;
    height: 70px;
    text-align: center;
}

.case-sign{
    background-color:#FFCB05 ; 
    color: #000; 
    width: 206px; height: 61px;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    text-align: center;
    padding-top: 16px;
    font-size: 20px;
    text-decoration: none;
    margin-left: auto;
}
.case-sign:hover{
    text-decoration: none;
    color: #000;
}


@media (min-width: 991.98px) and (max-width: 1550px) {
    
    .table-search{
        background-color: #F5F6FA; 
        border-color: #D5D5D5; 
        color: #202224; 
        border-radius: 10px;
        width: 40vw;
        height: 60px;
        margin-bottom: 20px;
    }

    .table-search thead tr th{
        background-color: #F5F6FA; color: #202224; border: none; font-size: 16px; text-align: center;
    }
    .case-sign{
        width: 196px; 
        height: 51px;
        font-size: 14px;
        border-radius: 14px;
        padding-top: 10px;
    }
     
}

@media (max-width: 991.98px) {
    
    .table-search{
        background-color: #F5F6FA; 
        border-color: #D5D5D5; 
        color: #202224; 
        border-radius: 10px;
        width: 80vw;
        height: 50px;
        margin-bottom: 20px;
        
    }

    .conteneur-haut{
        display: block;
    }

    .case-sign{
        display: block;
        background-color:#FFCB05 ; 
        color: #000; 
        width: 206px; 
        height: 61px;
        box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
        border-radius: 14px;
        text-align: center;
        padding-top: 16px;
        font-size: 20px;
        transform-style: none;
        margin-left: 0%;
    }
    
     
}
.modale-info{
    position: absolute;
    width: 414px;
    height: 263px;
    background-color: #FFFFFF;
    box-shadow: 0px 13px 61px 0px rgba(169, 169, 169, 0.37);
    border-radius: 10px;
    margin-top: -100px;
    margin-left: 525px;
    align-items: center;
    padding: 20px;
}

  .divider {
    
    border-left: 2px solid black;
    height: 150px;
    margin: 0 20px;
}

/* Fin du Css du tableau en bas du home page */
@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        /* width: calc(100% - 250px); */
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/

.sidebar .navbar .navbar-bas{
    display: flex;
    flex-direction: column; 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 88%;

}

.sidebar .navbar .navbar-bas  .nav-link {
    padding: 5px 0px 5px 10px;
    margin-left: 20px;
    color: var(--dark); 
    font-weight: 500;
    align-items: center;
    /*border-left: 3px solid var(--secondary);*/
    border-radius: 5px;
    outline: none;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    /* font-family: 'Nunito Sans' ; */
}
.sidebar .navbar .navbar-bas  .nav-link i{
    margin-top: 10px;
    font-size: medium;
   
}

.sidebar .navbar .navbar-bas  .nav-link .element{
    font-size: 15px;
    margin-left: 5px;
}
svg{
    margin-right: 10px;
    width: 19px;
    height: 30px
}
/***le fond du menu actif ***/

.sidebar .navbar .navbar-bas .nav-link:hover,
.sidebar .navbar .navbar-bas  .nav-link.active {
    color: #fff;
    background: #FFCB05;
    border-color: #FFCB05;
    
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--dark);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: #ddd;
}

/* couleur des ecriture dans le navbar du header*/ 
.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--dark);
    
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: #FFFFFF;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


.element{
    /* margin-top: 10px; */
    display: flex;
}





.notification-badge {
    position: absolute;
    top: 7px;
    right: 0px;
    padding: 2px 3px 2px 3px;
    border-radius: 50%;
    background: red;
    color: white;
    
    font-size: 8px;
  }

  .modale {
    display: none; /* Masque la fenêtre modale par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 130px;
    font-size: medium;
    border-radius: 50px;
  
  }
  
  .modal-contenu {
    padding: 5px 30px 5px 30px;
    background-color: #fff;
    border-color: #FFFFFF; 
    border-radius: 10px;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    position: fixed;
    text-align: center;
    bottom: 0;
    z-index: 1;
  }

  /*Les champs de saisir*/

  .champ{
    display: block;
    width: 100%;
    height: 56.31px;
    top: 493.09px;
    left: 363.16px;
    gap: 0px;
    border: 0.6px 0px 0px 0px;
    opacity: 0px;
    background: #F5F6FA;
    border: 0.6px solid #D5D5D5;
    font-family: Nunito Sans;
    color: #A6A6A6;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: left;
    background-clip: padding-box;
    appearance: none; /*Fix appearance for date inputs in Safari*/
    height: 56px;
    border-radius: 5px;

  }
  
  .champ-select{
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: left;
    color: #A6A6A6;
    height: 56.31px;
    opacity: 0px;
    background-color: #F5F6FA;
    border: 0.6px solid #D5D5D5;
    border-radius: 5px ;

    
  }

  .bouton-add{
    width: 339.63px;
    height: 60.64px;
    
    gap: 0px;
    opacity: 0.9px;
    background: #FFCB05;
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 30.01px;
    letter-spacing: -0.06428569555282593px;
    text-align: center;
    color: #000000;
    border: none;
    border-radius: 10px;
  }
  .bouton-add:hover{
   color: #000;
  }

  




  

  
  .spn{
    text-decoration: underline;
    
}
.cont3{
    display: flex;
    justify-content: space-between;
}

.irs--flat .irs-handle {
    top: 22px ;
    width: 16px ;
    height: 18px ;
    border-radius: 50% !important;
    background-color: #FFCB05 !important;
}

.irs--flat .irs-bar {
    top: 25px ;
    height: 12px t;
    background-color: #FFCB05 !important;
}
.irs--flat .irs-line {
    top: 25px ;
    height: 12px ;
    background-color: #AB9C9C !important;
    border-radius: 4px ;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    color: white;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #FFCB05 !important;
    border-radius: 4px;
}
.irs--flat .irs-min, .irs--flat .irs-max {
    top: 0;
    padding: 1px 3px;
    color: white !important;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    background-color: #FFCB05!important;
    border-radius: 4px;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: transparent !important;
}
.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: #FFCB05 !important;
}
/* credits.component.css */
ngx-slider {
    width: 100%;
    margin: 20px 0;
  }




  .boutoon{
    /* Rectangle 4693 */

      width: 238.97px;
      height: 57px;
      background: rgba(255, 203, 5, 0.85);
      box-shadow: 4px 4px 6px rgba(139, 136, 136, 0.25);
      border-radius: 10px;
      font-weight: 700;

  }
  .boutoon:hover{
 box-shadow: none;
  }
    .btn-checkbox-group {
        display: flex;
        justify-content: space-around;
        grid-gap: 1rem;
    }
    .checkbox-group {
      display: block;
      justify-content: center;
    }
    .credit-div{
      /* Rectangle 4698 */

      box-sizing: border-box;
      background: rgba(255, 203, 5, 0.06);
      border: 1px solid #FFCB05;
      border-radius: 12px;
      padding: 26px 40px;

    }
    .checkbox-group-btn{
      display: flex;
      justify-content: center;
    }
    .btn-custom.active {
      border-color: #f1c40f;
    }
    .form-check-input:checked {
      background-color: #f1c40f;
      border-color: #f1c40f;
    }
    .form-check-input {
      border-color: #f1c40f;
      
    }
    .form-check{
     display: flex;
     justify-content: center;
     margin-top: 10px;
    }

    .btn-custom {
      /* border: 1px solid transparent; */
      margin-bottom: 10px;
    }
    .btn-custom.active {
        border-color: #f1c40f
    }
    .boxx1{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 20px;
        width: 50%;
    
    }
    .boxx2{
        display: flex;
        justify-content: space-around;
        grid-gap: 2rem;
    }

    @media (min-width: 1190px) and (max-width: 1300px) {
      .img1{
        width: 50%;
        height: 100vh;
      }
     
    }
    
    @media (min-width: 400px) and (max-width: 1189.99px) {
      .boxx2{
        display: block;
        justify-content: space-around;
        grid-gap: 2rem;
      }
      .boxx1{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        /* width: 100%;
        margin-left: 30px; */
    }
      .img1{
        /* margin-top: 50px;
        width: 100%;
        height: 80vh; */
        width: 100%;
    }
    .casex{
        background: #FFFFFF;
        box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }
    .prix-bouton{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .case{
        padding-left: 40px;
    padding-right: 30px;
    }
    .btn-custom{
        padding: 15px 15px 15px 56px !important;
        font-size: larger !important;
        background-color: #F8F8F8;
    }
    .btn-custom strong{
        font-size: 21px;
    }
.bac{
    margin-top: 7px;
    position: absolute;
    left: 42px;
}

}

    @media (max-width: 599.99px) {
      .btn-checkbox-group {
      display: block;
      align-content: center;
    }
      .boxx2{
        display: block;
        justify-content: space-around;
        grid-gap: 2rem;
      }
      .boxx1{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 90%;
        margin-left: 30px;
    }
    .img1{
        margin-top: 40px;
        width: 100%;
        height: 80vh;
    }
    .img{
        width: 3rem;
        height: 3rem;
    }
    .checkbox-group {
      margin-top: 20px;
    }
      
    }
    /* .img{
        width: 5rem;
        height: 5rem;
    } */
    .marg{
        margin-bottom: 2rem;
    }
    
    body {
    background-color: #F5F6FA;
  }
  .icon{
    width: 4rem;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: 600;
  }
   

  /* range */


  .slider-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    width: 97%;
    height: 15px;
    background: linear-gradient(to right, #ffcc00 0%, #ffcc00 0%, #b8a9a9 0%, #b8a9a9 100%);
    outline: none;
    border-radius: 30px;
    transition: background 0.2s;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffcc00;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffcc00;
  }
  
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffcc00;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffcc00;
  }
  
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #ffcc00;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffcc00;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type=range]::-ms-fill-lower {
    background: #ffcc00;
  }
  
  input[type=range]::-ms-fill-upper {
    background: #b8a9a9;
  }
  
  #rangeValue {
    position: absolute;
    top: 32px;
    margin-left: -25px;
    color: #707070;
    font-weight: 500;
  }
  
  .creditsum p{
    margin-bottom: 0;

}
.name{
    font-size: 21px;
    color: #202224;
    font-weight: 640;
    text-align: center;

}
.amount{
    font-size: 52px;
    font-weight: 640;
    text-align: center;
}
.date{
    font-size: 15px;
    color: #979797;
    font-weight: 500;
    margin-top: -27px;
    margin-left: 145px;
    /* margin-left: 64px;
    margin-top: -31px; */
}

.list-group-item{
    width: 143px;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-radius: unset !important;
    border: 0;
    border-right: 1px solid #9797974f;
    /* box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.0288188); */
    background-color: #F9F9FB;
}
.separator{
    border-top: 1px solid #dee2e6;
}

.colors{
    color: #535C65;

  }
  .marg{
    /* margin-top: 5rem; */
    
  }
  
  .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
  }




  /* Fin du Css du tableau en bas du home page */
@media (min-width: 1200px) {
    .sidebar {
      margin-left: 0;
    }
  
    .sidebar.open {
      margin-left: -250px;
    }
  
    .content.open {
      width: 100%;
      margin-left: 0;
    }
  }
  
  @media (max-width: 1200px) {
    .sidebar {
      margin-left: -250px;
    }
  
    .sidebar.open {
      margin-left: 0;
    }
  
    .content {
      width: 100%;
      margin-left: 0;
      /* margin-left: 40px; */
    }
  }
  @media (max-width: 1200px) {
    .px-md-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        width: 100%;
    }
  }