<div class="" style="padding: 0 0px !important;
overflow-x: hidden;">
    <div class="row">
        <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
            <div class="content">

                <!-- Sale & Revenue Start -->
                <div class="container-fluid pt-4 px-4 subc">

                    <section class="container">
                        <h2 class="py-1">Reset Password</h2>

                        <div class="contient">
                              <div class="bg-white mt-2 wadi d-flex custom-gradient p-2">
                                <div class="">
                                    <div class="bg-success text-light" *ngIf="msg">
                                        {{msg}}
                                    </div>
                                  <form name="form" #LoginForm="ngForm" (ngSubmit)="LoginForm.form.valid && onSubmit()" class="p-5 row g-3">
                                      <label for="opassword" class="form-label">Old password</label>
                                      <input type="password" name="opassword" [(ngModel)]="password.opassword" #opassword="ngModel" class="form-control champ"  id="opassword" placeholder="Old password" required>
                                      <div class="text-danger fs-9" *ngIf="opassword.errors && LoginForm.submitted">
                                        field required
                                      </div>
                                      <label for="npassword" class="form-label">New password</label>
                                      <input type="password" name="npassword" [(ngModel)]="password.npassword" #npassword="ngModel" class="form-control champ" id="npassword" placeholder="New password" required>
                                      <div class="text-danger fs-9" *ngIf="npassword.errors && LoginForm.submitted">
                                        field required
                                      </div>
                                      <label for="cpassword" class="form-label">Confirm new password</label>
                                      <input type="password" name="cpassword" [(ngModel)]="password.cpassword" #cpassword="ngModel" class="form-control champ" id="cpassword" placeholder="Confirm password" required>
                                      <div class="text-danger fs-9" *ngIf="cpassword.errors && LoginForm.submitted">
                                        field required
                                      </div>
                                      <div  class="text-danger fs-9" *ngIf="errorMessage">
                                        {{errorMessage}}
                                      </div>
                                      <button type="submit" class="btn btn-warning pading"> Update </button>
                                  </form>
                                </div>
                          
                              </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>