<app-navbar></app-navbar>
<div class="" style="padding: 0 0px !important;
overflow-x: hidden;">
    <div class="row">
        <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
            <div class="content">


                <section>
                    <div>
                        <h3 class="text-dark th p-4">Add a new user</h3>
                    </div>

                    <div class="col-sm-11 col-xl-11" style="margin: 0 auto;">

                        <div class="bg-white  justify-content-between  conteneur">
                            <form  [formGroup]="userForm" #LoginForm="ngForm" (ngSubmit)="onSubmit()">
                                <!-- Section I: Personal Information -->
                                <h3>Perso Informations</h3>

                                
                                <!-- <div class="form-group">
                                    <label for="photo">Upload Photo</label>
                                    <input type="file" id="photo" class="form-control" (change)="onFileChange($event)">
                                </div> -->
                                <!-- <input type="file" id="photo-upload" class="photo-upload-input" accept="image/*">
        <label for="photo-upload" class="photo-upload-label">Upload Photo</label> -->

                                <div class="row g-4 mt-3">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">First Name</label>
                                        <input type="text" id="firstName" class="form-control champ"
                                            formControlName="firstName">
                                        <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                                            <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" id="lastName" class="form-control champ"
                                            formControlName="lastName">
                                        <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                                            <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
                                        </div>
                                    </div>
                                </div>



                                <div class="row g-4">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control champ" formControlName="email">
                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                                            <div *ngIf="f['email'].errors['email']">Email must be a valid email address
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6 ">
                                        <label for="phone">Phone Number</label>
                                        <input type="tel" id="phone" class="form-control champ" formControlName="phone">
                                        <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                                            <div *ngIf="f['phone'].errors['required']">Phone Number is required</div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row g-4">
                                    <div class="form-group col-md-6 ">
                                        <label for="position">Position/Title</label>
                                        <select id="position" class="form-control champ-select" formControlName="position">
                                            <option *ngFor="let pos of positions" [value]="pos">{{pos}}</option>
                                        </select>
                                        <!-- <div *ngIf="submitted && f['position'].errors" class="invalid-feedback">
                                            <div *ngIf="f['position'].errors['required']">Position is required</div>
                                        </div> -->
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="department">Department</label>
                                        <select id="department" class="form-control champ-select" formControlName="department">
                                            <option *ngFor="let dept of departments" [value]="dept">{{dept}}</option>
                                        </select>
                                        <!-- <div *ngIf="submitted && f['department'].errors" class="invalid-feedback">
                                            <div *ngIf="f['department'].errors['required']">Department is required</div>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="row g-4">
                                    <div class="form-group col-md-6 ">
                                        <label for="type">User Type</label>
                                        <select id="type" class="form-control champ-select" formControlName="type">
                                            <option *ngFor="let pos of type" [value]="pos">{{pos}}</option>
                                        </select>
                                    </div>
                                </div>



                                <!-- Section II: Account Information -->
                                <h3 class="mt-3">Account Informations</h3>

                                <div class="row g-4 " style="    margin-bottom: 20px;">
                                    <div class="form-group col-md-6">
                                        <label for="loginID">LoginID</label>
                                        <input type="text" id="loginID" class="form-control champ" formControlName="policyId"
                                            >
                                    </div>
    
                                    <div *ngIf="clientMasterStatus == 1" class="form-group col-md-6">
                                        <label for="roles">Roles:</label>
                                        <select id="roles" class="form-control champ" multiple formControlName="roles">
                                          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                                        </select>
                                      </div>
                                </div>
                                

                                <div class="row g-4 ">
                                    <div *ngIf="clientMasterStatus == 1" class="form-group col-md-6" >
                                        <label for="permissions">Permissions:</label>
                                        <select *ngIf="availablePermissions.length > 0" class="form-control champ" id="permissions" multiple formControlName="permissions">
                                          <option *ngFor="let permission of availablePermissions" [value]="permission.id">
                                            {{ permission.name }} ({{ permission.roleName }})
                                          </option>
                                        </select>
                                      </div>
                                      <div class="col-md-6">
                                        <label for="password">Set password:</label>
                                        <div class="d-flex form-control champ justify-content-between">
                                            <input type="password" id="password" class="w-75 border-0 h-100" formControlName="password">
                                            <i class="fas fa-lock mt-2"></i>
                                        </div>
                                    </div>
                                </div>
                                
                                <div *ngIf="errorMessage" class="alert alert-danger">
                                    {{ errorMessage }}
                                </div>

                                <button type="submit" class="boutoon btn-warning btn  px-5 py-2 mt-4">Add</button>
                            </form>
                              

                            
                        </div>
                        <!--End account management-->

                    </div>

                </section>

            </div>


        </main>
    </div>
</div>
