        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-white navbar-white sticky-top px-4 py-0">



                <div class="navbar-nav align-items-center ms-auto">


                    <div class="nav-item dropdown"
                        style="font-size: 15px; color: rgba(64, 64, 64, 1); text-align: end;">

                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img src="../../assets/francais.png" width="40" height="27" alt="English"
                                style="  border-radius: 5px;margin-right: 10px;  width: 20%;  height: 11%;">
                            <span class="d-none d-lg-inline-flex">English</span>
                        </a>
                        <div class="menu-langue dropdown-menu"
                            style="border: unset; padding: 6px; border-radius: 10px;  box-shadow: 0px 0px 7px 1px #ebebeb;">
                            <li><a class="dropdown-item">Select language</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <a  class="dropdown-item" >
                                <img src="../../assets/anglais.png" width="40" height="27" alt="English"
                                    style=" margin-right: 10px;">
                                <span class="d-none d-lg-inline-flex" style=" margin-left: 10px;">English</span>
                            </a>
                            <a class="dropdown-item mt-2" >
                                <img src="../../assets/anglais.png" width="40" height="27" alt="English"
                                    style=" margin-right: 10px;">
                                <span class="d-none d-lg-inline-flex" style=" margin-left: 10px;">Français</span>
                            </a>
                        </div>
                    </div>




                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link " style="display: flex; align-items: center;
    gap: 15px;">
                            <img class="rounded-circle me-lg-2" [src]="'https://insuretinz.s3.amazonaws.com/' + img" alt="" style="width: 40px; height: 40px;">
                            <div>
                                <span class="" style="font-size: medium;"> {{firstName}}  {{lastName}} </span><br>
                                <span class=" " style="font-size: small; ">Admin</span>
                            </div>
                        </a>

                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
        </div>