<div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-md-6 left-section d-flex flex-column justify-content-center align-items-center text-center p-5">
        <div class="d-flex ">
            <img src="../../assets/logo.png" alt="Logo" class="me-3" />
        </div>
        <img src="../../assets/Illustration.png" alt="Illustration" class="ill" />
        <h2 class="mt-4 mb-4">Check automobile insurance <br> status in 2 seconds</h2>
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor
            incididunt.
        </p>
        </div>

      <div class="col-md-6 right-section d-flex flex-column">
          <div class="w-100 d-flex justify-content-between align-items-center mt-4 mb-4">
            <a routerLink="/signup">
              <img src="../../assets/Arrow 2.png" alt="" style="width: 36px;">
            </a>
          <div>
            <span>Already have an account? </span>
            <a routerLink="/login" routerLinkActive="active" class="text-warning text-decoration-none">Sign In</a>
          </div>
        </div>
        <div class="w-100">
            <h1 style="font-size: 48px; margin-top: 66px; margin-bottom: 45px;">OTP Validation</h1>
            <p style="margin-bottom: 30px;">Enter the OTP code that has been sent to the email address you used</p>
            <p style="margin-bottom: 30px;">The code will expire in <strong>{{ timer }} seconds</strong></p>
            <input type="text" class="form-control field" placeholder="CODE" [(ngModel)]="otp" />
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <a href="#" class="d-block mb-4 text-dark text-decoration-none" (click)="resendOtp()">Resend OTP</a>
            <button class="btn btn-warning text-white w-100" style="height: 52px;"
                (click)="verifyOtp()"><strong>Next</strong></button>
        </div>
      </div>
    </div>
  </div>

