<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #ffc107 !important;">
  <div class="container-fluid">
    <a href="#" class="logo"><img src="../../assets/logo-removebg-preview.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <div class="navlink">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/landing-page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/how-it-works">How It Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/who-we-are">Who We Are</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/who-can-use">Who Can Use</a>
          </li>
        </div>


        <div *ngIf="logged == false" class="navbut">
          <li class="nav-item">
            <a class="nav-link active login" aria-current="page" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active signup" aria-current="page" routerLink="/signup">Signup</a>
          </li>
        </div>
        <div *ngIf="logged == true" class="navbut">

          <li *ngIf="user_type == 'client master' || user_type == 'client user' " class="nav-item">
            <a class="nav-link active login" aria-current="page" routerLink="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="user_type == 'police user' " class="nav-item">
            <a class="nav-link active login" aria-current="page" routerLink="/quick-check">Quick check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active signup" aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModal">Logout</a>
          </li>
          
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered dialog22">
          <div class="modal-content">
              <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Logout</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Are you sure you want to logout ?
              </div>
              <div class="modal-footer footer22">
              <button type="button" class="btn btn-secondary  btn21" data-bs-dismiss="modal">No</button>
              <button type="button" routerLink="/logout" class="btn btn-primary btn22" data-bs-dismiss="modal">Yes</button>
              </div>
          </div>
          </div>
      </div>

      </ul>
    </div>
  </div>
</nav>

<section class="hero">
  <!-- <img src="../../assets/unsplash_Xruf17OrkwM.png" alt=""> -->
   <div style="    height: 100%;   background-color: #4c47395c;"><h3>Who can use ?</h3></div>
   
</section>

<section class="entirepage">

  <div class="cardwho">
    <div class="card" style="width: 18rem;text-align: center;">
      <div class="card-body">
        <img src="../../assets/vehicle.png" alt="">
        <h5 class="card-title">Inland Police Authority</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
      </div>
    </div>

    <img src="../../assets/O.png" alt="" class="o">
    
    <div class="card" style="width: 18rem;text-align: center;">
      <div class="card-body">
        <img src="../../assets/vehicle.png" alt="">
        <h5 class="card-title">Inland Police Authority</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;text-align: center;">
      <div class="card-body">
        <img src="../../assets/vehicle.png" alt="">
        <h5 class="card-title">Inland Police Authority</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;text-align: center;">
      <div class="card-body">
        <img src="../../assets/vehicle.png" alt="">
        <h5 class="card-title">Inland Police Authority</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;text-align: center;">
      <div class="card-body">
        <img src="../../assets/vehicle.png" alt="">
        <h5 class="card-title">Inland Police Authority</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;text-align: center;">
      <div class="card-body">
        <img src="../../assets/vehicle.png" alt="">
        <h5 class="card-title">Inland Police Authority</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
      </div>
    </div>
    <img src="../../assets/O2.png" alt="" class="o2">


  </div>

</section>


<footer>
  <div class="container free">
    <div class="row point">
      <div class="footer-col" style="margin-right: 100px;">
        <h4>Suscribe Email</h4>
        <p>Join our email address to get daily updates </p>
        <form action="" class="mt-3">
          <input type="email" placeholder="Email Address" class="inputEmail" style="    background-color: unset;
                  border: 1px solid white;" />
          <button>Subscribe</button>
        </form>
      </div>

      <!-- 2nd Column -->
      <div class="footer-col">
        <h4>About</h4>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Who we are</a></li>
          <li><a href="">How can use</a></li>
          <li><a href="">Reviews</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>

      <!-- 3rd Column -->
      <div class="footer-col">
        <h4>Help</h4>
        <ul *ngIf="logged == false">
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
        <ul *ngIf="logged == true">
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>

      <!-- 3th Column -->

      <div class="footer-col">
        <img src="../../assets/Screenshot 2024-06-21 064744 1.png" alt="logo">
      </div>
      <!-- </footer> -->
      <!-- footer -->