<app-navbar></app-navbar>
<div class="" style="padding: 0 0px !important; overflow-x: hidden;">
  <div class="row">
    <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
      <div class="content">

        <div class="bann">

          <div *ngxPermissionsOnly="['client_quick_check']" class=" search-container">
            <h4>Quick Check :</h4>
            <form name="form" #CheckForm="ngForm" (ngSubmit)="onSubmit()" class="mt-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchType" id="licensePlate"
                  value="licensePlate" [(ngModel)]="searchType" checked>
                <label class="form-check-label" for="licensePlate">Licence plate number</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchType" id="registrationNumber"
                  value="registrationNumber" [(ngModel)]="searchType">
                <label class="form-check-label" for="registrationNumber">Automobile Registration Number</label>
              </div>
              <div class=" lesinputs ">
                <!-- Section pour les inputs -->
                <div class="lesinputs2">
                  <div class="mt-0 w-100 add" *ngFor="let input of inputs; let i = index"
                    [style.width.%]="calculateWidth(i)">
                    <input type="text" class="text-center form-control mb-2" [(ngModel)]="input.value" (input)="validateInput(i)"
                      [name]="'input_' + i" placeholder="Enter..." oninput="this.value = this.value.toUpperCase()" [class.invalid]="!isValidArray[i]">
                      <p *ngIf="!isValidArray[i]" class="text-danger fs-8">
                        {{regexErr}}
                      </p>
                  </div>
                  <div class="mt-2 ajout2 buttt">
                    <button type="button" *ngIf="inputs.length < 5" (click)="addInput()" class="ajout">search more (+)</button>
                    <button type="button" (click)="removeInput()" class="ajout">remove input (-)</button>
                </div>
                <!-- Bouton de soumission -->
                <div class="text-center p-3 w-50">
                    <button type="submit" [disabled]="!allInputsValid()" class="w-75 btn btn-warning">Search</button>
                </div>
                </div>
              </div>
            </form>
          </div>

          <div class=" result-container table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="text-center">
                  <th>Vin/license plate</th>
                  <th>STATUS</th>
                  <th>DETAILS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of results">
                  <td class="text-center two" style="font-size: 20px;">{{result.identifier}}</td>
                  <td class="text-center three justify-content-center align-items-center d-flex">
                    <div *ngIf="result.check.status == 'insured'" class="status-active ">Active</div>
                    <div *ngIf="result.check.status == 'expired'" class="status-expired ">Expired</div>
                    <div *ngIf="result.check.status== 'not_found'" class="status-expired ">Not found</div>
                  </td>
                  <td style="font-size: 15px;padding: 0 40px;">
                    <div class="results">
                      <div class="d-flex justify-content-between">
                        <p class="me-3">Automobile Make:</p>
                      </div>
                      <div><strong>{{result.make}}</strong></div>
                    </div>
                    <div class="results">
                      <div class="d-flex justify-content-between">
                        <p class="me-3">Model:</p>
                      </div>
                      <div><strong>{{result.model}}</strong></div>
                    </div>
                    <div class="results">
                      <div class="d-flex justify-content-between">
                        <p class="me-3">Owner's name:</p>
                      </div>
                      <div><strong>{{result.ownername}}</strong></div>
                    </div>
                    <div class="results">
                      <div class="d-flex justify-content-between">
                        <p class="me-3">Policy number:</p>
                      </div>
                      <div><strong>{{result.policy_number}}</strong></div>
                    </div>
                    <div class="results">
                      <div class="d-flex justify-content-between">
                        <p class="me-3">VIN number:</p>
                      </div>
                      <div><strong>{{result.check.vin_number}}</strong></div>
                    </div>
                    <div class="results">
                      <div class="d-flex justify-content-between">
                        <p class="me-3">Expiration date:</p>
                      </div>
                      <div><strong>{{result.valid_to | date:'dd/MM/yyyy'}}</strong></div>
                    </div>
                    <button class="w-75 btn btn-warning" *ngIf="result.check.status == 'expired' || result.check.status =='not_found' " type="button" (click)="generateTicket(result)">Print ticket</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
