<header class="header">
    <a href="#" class="logo"><img src="../../assets/logo-removebg-preview.png" alt="logo"></a>
    <nav class="menu navv">
      <a href="#" class="first-link">How It Works</a>
      <a href="#">Who We Are</a>
      <a href="" href="who.html">Who Can Use</a>
    </nav>
    <div class="buttons">
      <a href="#" class="login">Login</a>
      <a href="#" class="signup">Sign Up</a>
    </div>
    <div class="hamburger">&#9776;</div>
  </header>

<!-- Mobile Menu -->
<div class="mobile-menu">
  <div class="close-btn">&times;</div>
  <nav class="mobile-menu-nav">
    <a href="#" class="first-link">How It Works</a>
    <a href="#">Who We Are</a>
    <a href="#">Who Can Use</a>
  </nav>
  <div class="mobile-buttons">
    <a href="#" class="login">Login</a>
    <a href="#" class="signup">Sign Up</a>
  </div>
</div>


  <section class="container">
    <div class="d-flex justify-content-center">
        <h3 class="box1 bg-warning text-center py-3"><span class="text-dark">How</span>  <span class="text-white">it Works</span></h3>
    </div>
    
  </section>

  <section class="container">
    <div class="row">
        <div class="col-6">
            <span class="border border-dark marg3 px-3 py-2 rounded-circle">1</span> <br> <br>
            <div>
                <h4>Simple Signup</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut mauris quam. Proin mauris purus, vulputate a tristiq Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut mauris quam. Proin mauris purus, vulputate a tristiq </p>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-3 align-self-center position-relative bord ">
          <img src="./1.png"  alt="">
            <!-- <button type="button" class="btn btn-warning marg2">SignUp</button> <span ><i class="bi bi-check2 check"></i></span> -->
        </div>
    </div>
  </section>
  <br>
  <section class="container">
    <div class="bord1"></div>
  </section>
  
  <br>
  
  <section class="container">
    <div class="row">
        <div class="col  bord mt-5">
          <img src="./illustration1.png" class="img-fluid" alt="">
            <!-- <form class="d-flex align-items-center  bord2 ">
                <div class="input-group">
                  <input type="text" class="form-control color" placeholder="VIN No" aria-label="Search" aria-describedby="basic-addon1">
                  <span class="input-group-text bg-warning" id="basic-addon1"><i class="bi bi-search"></i></span>
                </div>
              </form> -->
        </div>
        
        <!-- <div class="col"></div> -->

        <div class="col">
            <span class="border border-dark ms-5 px-3 py-2 rounded-circle">2</span> <br> 
            <div class="mt-3 ms-5">
                <h4>Enter Vehicle Details</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut mauris quam. Proin mauris purus, vulputate a tristiq Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut mauris quam. Proin mauris purus, vulputate a tristiq </p>
            </div>
        </div>
    </div>
  </section>
  <br>
  <section class="container">
    <div class="d-flex flex-row-reverse">
        <div class="bord3"></div>
    </div>
    
  </section>
  <br>

  <section class="container">
    <div class="row">
        <div class="col-6">
            <span class="border border-dark marg3 px-3 py-2 rounded-circle">3</span> <br> <br>
            <div>
                <h4>Get Results</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut mauris quam. Proin mauris purus, vulputate a tristiq Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut mauris quam. Proin mauris purus, vulputate a tristiq </p>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-3 align-self-center position-relative bord ">
          <img src="./illustration.png" class="img-fluid" alt="">
            
        </div>
    </div>
  </section>
  <br>
  <section class="container">
    <div class="bord1"></div>
  </section>
  <br><br>

  <br><br>
  <footer class="bg text-white pt-5">
    <div class="container">
      <div class="row">
        <!-- Subscribe Email -->
        <div class="col">
          <h5>Subscribe Email</h5>
          <p>Join our email address to get daily updates</p>
          <form>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-warning bgpad">Subscribe</button>
          </form>
        </div>
        <!-- About -->
        <div class="col  ms-5">
          <h5>About</h5>
          <ul class="list-unstyled ">
            <li><a class="a" href="#">Home</a></li>
            <li><a class="a" href="#">Who We Are </a></li>
            <li><a class="a" href="#">Benefits</a></li>
            <li><a class="a" href="#">Reviews</a></li>
            <li><a class="a" href="#">Contact us</a></li>
          </ul>
        </div>
        <!-- Help -->
        <div class="col d-none d-lg-block">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a class="a" href="#">Login</a></li>
            <li><a class="a" href="#">Signup</a></li>
            
          </ul>
        </div>
        <!-- Logo -->
        <div class="col d-none d-lg-block">
          <img src="./Screenshot 2024-06-21 064744 1.png" alt="Logo" class="img-fluid" style="max-width: 150px;">
        </div>


        <!-- petit ecran -->

        <!-- Help -->
        <div class="col d-lg-none mt-4">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a class="a" href="#">Login</a></li>
            <li><a class="a" href="#">Signup</a></li>
            
          </ul>
        </div>
        <!-- Logo -->
        <div class="col d-lg-none mt-4">
          <img src="./Screenshot 2024-06-21 064744 1.png" alt="Logo" class="img-fluid" style="max-width: 150px;">
        </div>
      </div>
    </div>
    <br><br>
    <!-- <div class="text-center py-3 mt-4 border-top">
      <p class="mb-0">© 2023 Your Company. All rights reserved.</p>
    </div> -->
  </footer>