<div class="" style="padding: 0 0px !important;
overflow-y: scroll;">
  <div class="row">
    <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
      <div class="content">        

        <div  class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-12 col-xl-12 mb-4">
              <div class="bg-white casex">
                <section class="container bg-white" style="border-radius: 10px;">
                  <div class="container mt-4 ">
                      <div class="flex">
                          <div class="w-100">
                            <div class="d-flex">
                              <img src="img/Arrow 2.png" alt="" style="height: 20px; margin-top: 10px;">
                              <h3 class="text-warning text-center pb-4 w-100" style="font-size: 55px;"> Success </h3>
                            </div>  
                            </div>
                          <div><img src="../../assets/Group 75859.png" alt=""></div>
                      </div>
                      
                      <p class="fs-4 mx-5 pt-4 text-center">Your payment has been successfully processed. Thank you for your transaction.</p>
                      <br>
                      <div class="d-flex justify-content-around">
                          <div><p><strong>Credit purchased: {{creditsAdded}}</strong></p></div>
                          <div><p class="colors">Date: {{date}}</p></div>
                      </div>
                      <br>
                  </div>
              </section>



              </div>
            </div>
          </div>
        </div>

       
      </div>


    </main>
  </div>
</div>

