<div class="container-fluid vh-100">
    <div class="row h-100">

        <div class="col-md-6 left-section d-flex flex-column justify-content-center align-items-center text-center p-5">
            <div class="d-flex ">
                <img src="../../assets/logo.png" alt="Logo" class="me-3" />
            </div>
            <img src="../../assets/Illustration.png" alt="Illustration" class="ill" />
            <h2 class="mt-4 mb-4">Check automobile insurance <br> status in 2 seconds</h2>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor
                incididunt.
            </p>
          </div>
            
      <div class="col-md-6 right-section">


        <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
            <div *ngIf="activeSection === 1" class="w-100">

                <div class="w-100 d-flex justify-content-between align-items-center mt-4 mb-4">
                    <a href="#">
                        <img src="../../assets/Arrow 2.png" alt="" style="width: 36px;">
                      </a>
                    <div>
                      <span>Already have an account? </span>
                      <a routerLink="/login" routerLinkActive="active" class="text-warning text-decoration-none">Sign In</a>
                    </div>
                </div>

              <h1 style="font-size: 39px; margin-top: 30px;">Structure's informations</h1>
              <div class="d-flex justify-content-end align-items-center mb-4 " style="height: 25px;">
                <div class="rounded-circle bg-warning text-white d-flex justify-content-center align-items-center" style="width: 57px; height: 57px; font-size: 30px;">
                  3
                </div>
              </div>
              <p style="font-size: 17px; margin-top: 50px; margin-bottom: 30px;">Complete informations about your structure</p>
              <div formGroupName="structureInfo" class="w-100">
                <div class="mb-4">
                  <input type="text" formControlName="agencyName" class="field form-control" placeholder="Agency Name *" required />
                </div>
                <div *ngIf="isInvalidAndTouched('agencyName', 'structureInfo')">
                  <small class="text-danger" *ngIf="structureInfo.get('agencyName')?.errors?.['required']">
                    Agency Name is required.
                  </small>
                </div>
                <div class="mb-4">
                  <input type="text" formControlName="agencyType" class="field form-control" placeholder="Agency Type *" required />
                  <div *ngIf="isInvalidAndTouched('agencyType', 'structureInfo')">
                    <small class="text-danger" *ngIf="structureInfo.get('agencyType')?.errors?.['required']">
                      Agency Type is required.
                    </small>
                  </div>
                </div>
                <div class="mb-4 d-flex justify-content-between">
                  <select formControlName="country" class="form-select field me-4" required>
                    <option disabled>Country *</option>
                    <option value="Country 1" selected>Country 1</option>
                    <option value="Country 2">Country 2</option>
                  </select>
                  <div *ngIf="isInvalidAndTouched('country', 'structureInfo')">
                    <small class="text-danger" *ngIf="structureInfo.get('country')?.errors?.['required']">
                      Country is required.
                    </small>
                  </div>
                  <select formControlName="state" class="form-select field" required>
                    <option disabled>State *</option>
                    <option value="State 1" selected>State 1</option>
                    <option value="State 2">State 2</option>
                  </select>
                  <div *ngIf="isInvalidAndTouched('state', 'structureInfo')">
                    <small class="text-danger" *ngIf="structureInfo.get('state')?.errors?.['required']">
                      State is required.
                    </small>
                  </div>
                </div>
                <div class="mb-4 d-flex justify-content-between">
                  <select formControlName="city" class="form-select field me-4" required>
                    <option disabled>City *</option>
                    <option value="City 1" selected>City 1</option>
                    <option value="City 2">City 2</option>
                  </select>
                  <div *ngIf="isInvalidAndTouched('city', 'structureInfo')">
                    <small class="text-danger" *ngIf="structureInfo.get('city')?.errors?.['required']">
                      City is required.
                    </small>
                  </div>
                  <select formControlName="locgov" class="form-select field" required>
                    <option disabled>Local governement *</option>
                    <option value="Local governement 1" selected>Local governement 1</option>
                    <option value="Local governement 2">Local governement 2</option>
                  </select>
                  <div *ngIf="isInvalidAndTouched('locgov', 'structureInfo')">
                    <small class="text-danger" *ngIf="structureInfo.get('locgov')?.errors?.['required']">
                      Local Government is required.
                    </small>
                  </div>
                </div>
              </div>
              <button type="button" (click)="nextSection()" class="btn btn-warning w-100 text-white" style="height: 52px;"><strong>Next</strong></button>
            </div>
          
            <div *ngIf="activeSection === 2" class="w-100" style="margin-bottom:50px;">

                <div class="w-100 d-flex justify-content-between align-items-center mt-4 mb-4">
                    <a type="button" (click)="previousSection()">
                        <img src="../../assets/Arrow 2.png" alt="" style="width: 36px;">
                      </a>
                    <div>
                      <span>Already have an account? </span>
                      <a routerLink="/login" routerLinkActive="active" class="text-warning text-decoration-none">Sign In</a>
                    </div>
                </div>

              <h1 style="font-size: 39px; margin-top: 30px; margin-bottom: 25px;">Structure's informations</h1>
              <div class="d-flex justify-content-end align-items-center mb-4 " style="height: 25px;">
                <div class="rounded-circle bg-warning text-white d-flex justify-content-center align-items-center" style="width: 57px; height: 57px; font-size: 30px;">
                  3
                </div>
              </div>
              <p style="font-size: 17px; margin-top: 30px; margin-bottom: 25px;">Contact information</p>
              <div formGroupName="contactInfo">
                <div class="mb-4">
                  <input type="text" formControlName="primaryContactName" class="field form-control" placeholder="Primary contact Name *" required />
                  <div *ngIf="isInvalidAndTouched('primaryContactName', 'contactInfo')">
                    <small class="text-danger" *ngIf="contactInfo.get('primaryContactName')?.errors?.['required']">
                      Primary Contact Name is required.
                    </small>
                  </div>
                </div>
                <div class="mb-4">
                  <input type="text" formControlName="secondaryContactName" class="field form-control" placeholder="Secondary contact Name" />
                </div>
                <div class="mb-4">
                  <input type="text" formControlName="primaryContactTitle" class="field form-control" placeholder="Primary contact Title *" required />
                  <div *ngIf="isInvalidAndTouched('primaryContactTitle', 'contactInfo')">
                    <small class="text-danger" *ngIf="contactInfo.get('primaryContactTitle')?.errors?.['required']">
                      Primary Contact Title is required.
                    </small>
                  </div>
                </div>
                <div class="mb-4">
                  <input type="email" formControlName="primaryContactEmail" class="field form-control" placeholder="Primary contact Business Email *" required />
                  <div *ngIf="isInvalidAndTouched('primaryContactEmail', 'contactInfo')">
                    <small class="text-danger" *ngIf="contactInfo.get('primaryContactEmail')?.errors?.['required']">
                      Primary Contact Email is required.
                    </small>
                    <small class="text-danger" *ngIf="contactInfo.get('primaryContactEmail')?.errors?.['email']">
                      Enter a valid email address.
                    </small>
                  </div>
                </div>
                <div class="mb-4">
                  <input type="email" formControlName="secondaryContactEmail" class="field form-control" placeholder="Secondary contact Business Email" />
                  <div *ngIf="isInvalidAndTouched('secondaryContactEmail', 'contactInfo')">
                    <small class="text-danger" *ngIf="contactInfo.get('secondaryContactEmail')?.errors?.['email']">
                      Enter a valid email address.
                    </small>
                  </div>
                </div>
                <div class="mb-4 d-flex">
                  <div class="input-group me-4">
                    <label for="number1" class="mb-3" style="color:darkgrey; font-size: small;">Primary Business Phone Number *</label> <br>
                    <div class="input-group me-4">
                    <select class="form-select field w-25" id="countrySelect" aria-label="Select Country">
                      <option value="bj" selected >🇧🇯 +229</option>
                    </select>
                    
                    <input type="text" formControlName="primaryPhoneNumber" class="w-75 field form-control" required />
                  </div>
                    <div *ngIf="isInvalidAndTouched('primaryPhoneNumber', 'contactInfo')">
                      <small class="text-danger" *ngIf="contactInfo.get('primaryPhoneNumber')?.errors?.['required']">
                        Primary Phone Number is required.
                      </small>
                      <small class="text-danger" *ngIf="contactInfo.get('primaryPhoneNumber')?.errors?.['pattern']">
                        Primary Phone Number must contain exactly 8 digits.
                      </small>
                    </div>
                  </div>
                  <div class="input-group">
                    <label for="number2" class="mb-3" style="color:darkgrey; font-size: small;">Secondary Business Phone Number</label> <br>
                    <div class="input-group me-4">
                    <select class="form-select field w-25" id="countrySelect" aria-label="Select Country">
                      <!-- <option disabled selected>Select a country</option> -->
                      <option value="bj" selected >🇧🇯 +229</option>
                    </select>
                    
                    <input type="text" formControlName="secondaryPhoneNumber" class="field form-control w-75" />
                  </div>
                    <div *ngIf="isInvalidAndTouched('secondaryPhoneNumber', 'contactInfo')">
                      <small class="text-danger" *ngIf="contactInfo.get('secondaryPhoneNumber')?.errors?.['pattern']">
                        Secondary Phone Number must contain exactly 8 digits.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button type="button" (click)="previousSection()" class="btn btn-warning w-100 text-white" style="height: 52px; margin-bottom: 20px;"><strong>Previous</strong></button> -->
              <button type="button" (click)="nextSection()" class="btn btn-warning w-100 text-white" style="height: 52px;"><strong>Next</strong></button>
            </div>
          
            <div *ngIf="activeSection === 3" class="w-100">

                <div class="w-100 d-flex justify-content-between align-items-center mt-4 mb-4">
                    <a type="button" (click)="previousSection()">
                        <img src="../../assets/Arrow 2.png" alt="" style="width: 36px;">
                      </a>
                    <div>
                      <span>Already have an account? </span>
                      <a routerLink="/login" routerLinkActive="active" class="text-warning text-decoration-none">Sign In</a>
                    </div>
                </div>

              <h1 style="font-size: 39px; margin-top: 20px; margin-bottom: 0px;">Upload documents</h1>
              <div class="d-flex justify-content-end align-items-center mb-4 " style="height: 25px;">
                <div class="rounded-circle bg-warning text-white d-flex justify-content-center align-items-center" style="width: 57px; height: 57px; font-size: 30px;">
                  3
                </div>
              </div>
              <div *ngIf="errorMessage" class=" alert-danger">{{ errorMessage }}</div>
              <p style="font-size: 17px; margin-top: 20px;">Additional informations</p>
              <div class="mb-4">
                <div class="drop-zone d-flex" style="color: darkgray;" id="drop-zone" (click)="onDropZoneClick()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave()" (drop)="onDrop($event)">
                  <div class="d-flex input-label" style="height: 150px; width: 40%;">
                    <p class="me-3 ms-4">Drop file here</p>
                    <img src="../../assets/1904676-arrow-backup-cloud-hosting-storage-up-upload_122526.png" class="me-3" alt="" style="width: 10%; height: 13%; margin-top: -21px;">
                  </div>
                  <span class="file-name" id="file-name">{{ fileName }}</span>
                  <input type="file" id="file-input" formControlName="document" accept="image/*" (change)="onFileChange($event)" style="display: none;" required>
                  <div *ngIf="isInvalidAndTouched('document')">
                    <small class="text-danger" *ngIf="document?.errors?.['required']">
                      Document is required.
                    </small>
                  </div>
                </div>
              </div>
          
              <div class="mb-4" formArrayName="terms">
                <div *ngFor="let term of termsArray.controls; let i = index" class="form-check mb-4">
                  <input class="form-check-input me-3" style="width: 20px; height: 20px;" type="checkbox" [formControlName]="i" />
                  <a class="form-check-label text-decoration-none" style="margin-top: 5px;"> Terms and Conditions Agreement {{ i + 1 }}</a>
                  <div *ngIf="term.invalid && (term.dirty || term.touched)">
                    <small class="text-danger" *ngIf="term.errors?.['requiredTrue']">
                      You must accept this term.
                    </small>
                  </div>
                </div>
              </div>
          
              <!-- <button type="button" (click)="previousSection()" class="btn btn-warning w-100 text-white" style="height: 52px; margin-bottom: 20px;"><strong>Previous</strong></button> -->
              <button type="submit" [disabled]="SignupForm.invalid" class="btn btn-warning w-100 text-white" style="height: 52px;"><strong>Complete registration</strong></button>
            </div>
          </form>
          
          
          
          
          
          
          

      </div>
    </div>
  </div>


<script>
//   $('#file-select-button').click(function(){
//     $('.upload input').click();
// });

document.addEventListener('DOMContentLoaded', function() {
    // Initialiser Twemoji
    twemoji.parse(document.body, {
      folder: 'svg',
      ext: '.svg'
    });

    const select = document.getElementById('countrySelect');

    // Fonction pour créer un élément avec l'emoji
    function createOptionWithEmoji(option) {
      const div = document.createElement('div');
      div.innerHTML = option.innerHTML;
      twemoji.parse(div);
      return div;
    }

    // Remplacer les options par des versions avec emoji
    Array.from(select.options).forEach(option => {
      const newOption = createOptionWithEmoji(option);
      option.innerHTML = newOption.innerHTML;
    });

    // Gérer l'affichage de l'emoji sélectionné
    select.addEventListener('change', function() {
      const selectedOption = this.options[this.selectedIndex];
      const emojiSpan = document.createElement('span');
      emojiSpan.innerHTML = selectedOption.innerHTML.split(' ')[0]; // Prendre seulement l'emoji
      twemoji.parse(emojiSpan);
      
      // Créer un wrapper pour l'affichage sélectionné
      const wrapper = document.createElement('div');
      wrapper.style.display = 'flex';
      wrapper.style.alignItems = 'center';
      wrapper.appendChild(emojiSpan);
      wrapper.appendChild(document.createTextNode(' ' + selectedOption.text));
      
      // Remplacer le contenu affiché du select
      this.parentNode.insertBefore(wrapper, this.nextSibling);
      this.style.color = 'transparent';
      this.style.position = 'absolute';
    });
  });

document.addEventListener('DOMContentLoaded', function () {
  Array.prototype.forEach.call(
    document.querySelectorAll(".file-upload__button"),
    function(button) {
      const hiddenInput = button.parentElement.querySelector(".file-upload__input");
      const label = button.parentElement.querySelector(".file-upload__label");
      const defaultLabelText = "No file(s) selected";

      // Set default text for label
      label.textContent = defaultLabelText;
      label.title = defaultLabelText;

      button.addEventListener("click", function() {
        hiddenInput.click();
      });

      hiddenInput.addEventListener("change", function() {
        const filenameList = Array.prototype.map.call(hiddenInput.files, function(file) {
          return file.name;
        });

        label.textContent = filenameList.join(", ") || defaultLabelText;
        label.title = label.textContent;
      });
    }
  );
});

</script>