<div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-md-6 left-section d-flex flex-column justify-content-center align-items-center text-center p-5">
        <div class="d-flex ">
            <img src="../../assets/logo.png" alt="Logo" class="me-3" />
        </div>
        <img src="../../assets/Illustration.png" alt="Illustration" class="ill" />
        <h2 class="mt-4 mb-4">Check automobile insurance <br> status in 2 seconds</h2>
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor
            incididunt.
        </p>
        </div>
        <div class="col-md-6 right-section d-flex flex-column text-center ">
            <div class="w-100 d-flex justify-content-between align-items-center mt-4 mb-4">
                <a routerLink="/signup">
                    <img src="../../assets/Arrow 2.png" alt="" style="width: 36px;">
                  </a>
                <div>
                  <span>Already have an account? </span>
                  <a routerLink="/login" routerLinkActive="active" class="text-warning text-decoration-none">Sign In</a>
                </div>
            </div>
          <div class="d-flex mt-5 align-items-center justify-content-center w-100">
            <h1 class="" style="font-size: 48px; margin-top: 40px; margin-bottom: 30px;">
            Registration <br> Successful 
            </h1>
            <img class="h-50 w-15" src="../../assets/Vector.png" alt="Check mark" />
          </div>
          <div class="mt-5" style="font-size: 23px;">
            <p>You have successfully created your account.<br />Login now to your dashboard.</p>
          </div>
          <div class="mt-5">  
              <button class="btn btn-warning  text-white" style="height: 52px; width: 80%;"> <a routerLink="/dashboard" routerLinkActive="active"><strong>Connect to dashboard</strong></a></button>
          </div>  
      </div>
    </div>
  </div>