<body>
    <header class="header">
        <a href="#" class="logo"><img src="../../assets/logo-removebg-preview.png" alt="logo"></a>
        <nav class="menu navv">
          <a href="#" class="first-link">How It Works</a>
          <a href="#">Who We Are</a>
          <a href="" href="who.html">Who Can Use</a>
        </nav>
        <div class="buttons">
          <a href="#" class="login">Login</a>
          <a href="#" class="signup">Sign Up</a>
        </div>
        <div class="hamburger">&#9776;</div>
      </header>
    
    <!-- Mobile Menu -->
    <div class="mobile-menu">
      <div class="close-btn">&times;</div>
      <nav class="mobile-menu-nav">
        <a href="#" class="first-link">How It Works</a>
        <a href="#">Who We Are</a>
        <a href="#">Who Can Use</a>
      </nav>
      <div class="mobile-buttons">
        <a href="#" class="login">Login</a>
        <a href="#" class="signup">Sign Up</a>
      </div>
    </div>
    
      <section class="banner">
        <img src="../../assets/unsplash_Xruf17OrkwM.png" alt="background-logo" class="background-image">
        <div class="logo-container">
            <div class="titree">
                <h3>
                    <span>Who </span>Can Use
                </h3>
            </div>
          <!-- <img src="../../assets/Group 75866 (1).png" alt="logo" class="centered-logo"> -->
        </div>
      </section>
      <section class="who ">
        <div class="swiper-container">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <div class="image">
                    <img src="../../assets/Group 11 (1).png" alt="Card Image" />
                  </div>
                  <h5>
                    Inland Police <br />
                    Authority
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitauris
                    ut
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="image">
                    <img src="../../assets/Group 11.png" alt="Card Image" />
                  </div>
                  <h5>
                    Boarder Crossing <br />
                    Authority
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitauris
                    ut
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="image">
                    <img src="../../assets/vehicle.png" alt="Card Image" />
                  </div>
                  <h5>
                    Automobile Registration <br />
                    Authority
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitauris
                    ut
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="image">
                    <img src="../../assets/Group 11 (1).png" alt="Card Image" />
                  </div>
                  <h5>
                    Boarder Crossing <br />
                    Authority
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitauris
                    ut
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="image">
                    <img src="../../assets/Group 11.png" alt="Card Image" />
                  </div>
                  <h5>
                    Boarder Crossing <br />
                    Authority
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitauris
                    ut
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="image">
                    <img src="../../assets/vehicle.png" alt="Card Image" />
                  </div>
                  <h5>
                    Boarder Crossing <br />
                    Authority
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitauris
                    ut
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="image">
                    <img src="../../assets/Group 11 (1).png" alt="Card Image" />
                  </div>
                  <h5>
                    Boarder Crossing <br />
                    Authority
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitauris
                    ut
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="image">
                    <img src="../../assets/Group 11 (1).png" alt="Card Image" />
                  </div>
                  <h5>
                    Boarder Crossing <br />
                    Authority
                  </h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elitauris
                    ut
                  </p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      
      <footer>
        <div class="container free">
          <div class="row point">
            <div class="footer-col" style="margin-right: 100px;">
              <h4>Suscribe Email</h4>
              <p>Join our email address to get daily updates </p>
              <form action="" class="mt-3">
                <input
                  type="email"
                  placeholder="Email Address"
                  class="inputEmail"
                  style="    background-color: unset;
                  border: 1px solid white;"
                />
                <button>Subscribe</button>
              </form>
            </div>
  
            <!-- 2nd Column -->
            <div class="footer-col">
              <h4>About</h4>
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Who we are</a></li>
                <li><a href="">How can use</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Contact Us</a></li>
              </ul>
            </div>
  
            <!-- 3rd Column -->
            <div class="footer-col">
              <h4>Help</h4>
              <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Signup</a></li>
              </ul>
            </div>
  
            <!-- 3th Column -->
  
            <div class="footer-col">
             <img src="../../assets/Screenshot 2024-06-21 064744 1.png" alt="logo">
        </div>
        <!-- </footer> -->

  <!-- </body> -->