<app-navbar></app-navbar>
<div class="" style="padding: 0 0px !important; overflow-x: hidden">
    <div class="row">
        <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
            <div class="content">

                <!-- Sale & Revenue Start -->
                <div class="container-fluid p-6" style="padding: 32px;">
                    <div *ngxPermissionsOnly="['client_view_check_history']" class="flex">
                        <div class="sear" style="width: 45%;">
                            <h3 class="">Your search history</h3>
                        </div>
                        <!-- <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
                        <button type="reset" class="btn btn-warning py-1 px-4 fs-5">Export <img src="../../assets/ic-local-printshop-24px.png" alt=""></button> -->
                    </div>

                    <div *ngxPermissionsOnly="['client_view_check_history']" class="p-2 mt-4">
                        <div class="row">
                          <div class="col card table-responsive">
                            <table class="table" style="margin-bottom: 220px;">
                              <thead>
                                <tr>
                                  <th class="text-center">No</th>
                                  <th class="px-3">STATUS</th>
                                  <th class="text-center">DETAILS</th>
                                </tr>
                              </thead>
                              <tbody *ngIf="!noCheck">
                                <tr *ngFor="let check of paginatedChecks; let i = index">
                                  <td *ngIf="check.check.status == 'not_found'" class="text-center py-4">XXXXXX</td>
                                  <td *ngIf="check.check.status == 'insured' || check.check.status == 'expired'" class="text-center py-4">{{check.automobile.license_plate_number}}</td>
                                  <td *ngIf="check.check">
                                    <div class="container mt-3">
                                      <div class="active px-4 py-1">
                                        <div *ngIf="check.check.status == 'insured'" class="status-active">Active</div>
                                        <div *ngIf="check.check.status == 'expired'" class="status-expired">Expired</div>
                                        <div *ngIf="check.check.status == 'not_found'" class="status-expired">Not found</div>
                                      </div>
                                    </div>
                                  </td>
                                  <td *ngIf="check.check" style="min-width: 300px !important;">
                                    <div class="d-flex justify-content-around">
                                      <div>
                                        <span *ngIf="check.check.status == 'not_found'" class="back1">No data</span>
                                        <span *ngIf="check.check.status == 'insured' || check.check.status == 'expired'" class="back1">Insurance company: <br> Policy number: <br> coverage details: <br> Expiration date:</span>
                                      </div>
                                      <div>
                                        <span *ngIf="check.check.status == 'insured' || check.check.status == 'expired'"> <br> {{check.insurance_policy.policy_number}}<br>  <br> {{check.automobile.expiredate | date: "dd/MM/yyyy"}}</span>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="noCheck">
                                <tr class="text-center w-100">
                                  <div class="text-center">
                                    <strong>{{noCheck}}</strong>
                                  </div>
                                </tr>
                              </tbody>
                            </table>
                            <nav aria-label="Page navigation example text-warning">
                              <ul class="pagination justify-content-center">
                                <li class="page-item text-warning" [class.disabled]="currentPage === 1">
                                  <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
                                </li>
                                <li class="page-item text-warning" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
                                  <a class="page-link" (click)="setPage(i + 1)">{{ i + 1 }}</a>
                                </li>
                                <li class="page-item text-warning" [class.disabled]="currentPage === totalPages">
                                  <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
                                </li>
                              </ul>
                            </nav>
                          </div>
                        </div>
                      </div>                      
                </div>

                <div *ngxPermissionsOnly="['client_view_check_history']" class="container-fluid p-6" style="padding: 32px;">
                    <div class="">
                        <div class="sear" style="width: 30%; margin-top: 30px;">
                            <h3 >Verification log history</h3>
                        </div>
                        <!-- <div class="flex" style="">

                            <div class="sear" style="width: 30%;">
                                <input type="text" class="form-control recherche" id="formGroupExampleInput" placeholder="search">
                              </div>
    
                            <div class=" mt-1 sear2" style="padding: 0px;">
                                <div class="btn-group grouppp sear3" role="group" aria-label="Basic example">
    
                                    <div class="sous-group24">
                                        <img src="../../assets/filter.png" alt="">
                                    </div>
                                    <div class="sous-group24">
                                        <span>filter by</span>
                                    </div>
                                    <div class="col-auto btn-light sous-group24">
                                        <select class="form-select bg-light">
                                            <option selected>Month</option>
                                        </select>
                                    </div>
                                    <div class="col-auto btn-light sous-group24">
                                        <select class="form-select bg-light">
                                            <option selected>Department</option>
                                        </select>
                                    </div>
                                    <div  style="text-align: center;">
                                        <span><a class="res"><img src="../../assets/ic-replay-24px.png" alt=""> Reset filter</a></span>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <button type="reset" class="btn btn-warning py-1 px-4 fs-5 ">Export <img
                                    src="../../assets/ic-local-printshop-24px.png" alt=""></button>
    
                        </div> -->
                        <!-- <div class="container mt-4 sear33">
                            <h3 class="sear">Verification log history</h3>
                        </div>

                        <div class="container mt-3 group3 sear2 sear22" style="padding: 0px;">
                            <div class="btn-group grouppp  sear3" role="group" aria-label="Basic example">

                                <div class="sous-group">
                                    <img src="../../assets/filter.png" alt="">
                                </div>
                                <div class="sous-group">
                                    <span>filter by</span>
                                </div>
                                <div class="col-auto btn-light sous-group">
                                    <select class="form-select bg-light">
                                        <option selected>Month</option>
                                    </select>
                                </div>
                                <div class="col-auto btn-light sous-group">
                                    <select class="form-select bg-light">
                                        <option selected>Department</option>
                                    </select>
                                </div>
                                <div class="">
                                    <span><a href="" style="text-decoration: none !important;"><img src="../../assets/ic-replay-24px.png" alt=""> Reset filter</a></span>
                                </div>

                            </div>

                            <button type="reset" class="btn btn-warning py-1 px-4 fs-5 ">Export <img
                                    src="../../assets/ic-local-printshop-24px.png" alt=""></button>

                        </div> -->

                        <div class=" mt-4">
                            <div class="row" style="padding-left: 13px;">
                                <div class="col card table-responsive">
                                    <table class="table " style="margin-bottom: 200px;">
                                        <thead>
                                            <tr class="">
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>User</th>
                                                <th class="px-5">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let check of paginatedSubChecks; let i = index">
                                                <td *ngIf="check.check">{{check.check.check_date | date: "dd/MM/yyyy"}}</td>
                                                <td *ngIf="check.check">{{check.check.check_date | date: "hh:mm:ss"}}</td>
                                                <td *ngIf="check.check">
                                                    {{check.check.user_id}}
                                                    <!-- <img src="../../assets/Box Important.png"
                                                        (click)="toggleInfo($event)"
                                                        style="width: 20px; margin-top: -2px;">

                                                    <div class="modale-info" *ngIf="isInfoVisible">
                                                        <div
                                                            style="color: rgba(145, 142, 244, 1); text-align: center;">
                                                            More information
                                                        </div>
                                                        <div class="d-flex mt-2 dep">
                                                            <div class="pl-4 results-left"
                                                                style="font-weight: 200;">
                                                                <span *ngIf="check.automobile.make">Automobile Make: </span> <br>
                                                                <span class="mt-1" *ngIf="check.automobile.model">Model</span> <br>
                                                                <span class="mt-1" *ngIf="check.automobile.owername">Owner’s name  </span><br>
                                                                <span class="mt-1" *ngIf="check.automobile.policyname">Policy number  </span><br>
                                                                <span class="mt-2" *ngIf="check.automobile.vin_number">VIN number </span><br>
                                                                <span class="pt-5">Expiration date </span>
                                                            </div>
                                                            <div class="divider"></div>
                                                            <div>
                                                                <h6 class="text-dark">{{check.automobile.make}} </h6>
                                                                <h6 class="text-dark">{{check.automobile.model}} </h6>
                                                                <h6 class="text-dark">{{check.automobile.owername}}</h6>
                                                                <h6 class="text-dark">{{check.automobile.policyname}}</h6>
                                                                <h6 class="text-dark"> {{check.automobile.vin_number}} </h6>
                                                                <h6 class="text-dark">12/08/2023 </h6>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </td>
                                                <td *ngIf="check.check" style="padding-top: 3px !important;">
                                                    <div class="container ">
                                                        <div *ngIf="check.check.status == 'insured'" class="status-active px-2 py-2">
                                                            <h6>Active</h6>
                                                        </div>
                                                        <div *ngIf="check.check.status == 'expired'" class="status-expired px-2 py-2">
                                                            <h6>Expired</h6>
                                                        </div>
                                                        <div *ngIf="check.check == null" class="status-expired px-2 py-2">
                                                            <h6>Not found</h6>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="noCheck2">
                                            <tr class="text-center w-100">
                                                <div class="text-center">
                                                    <strong>{{noCheck2}}</strong>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                          <li class="page-item" [class.disabled]="currentPageSub === 1">
                                            <a class="page-link" (click)="setPageSub(currentPageSub - 1)">Previous</a>
                                          </li>
                                          <li class="page-item" *ngFor="let page of [].constructor(totalPagesSub); let i = index" [class.active]="currentPageSub === i + 1">
                                            <a class="page-link" (click)="setPageSub(i + 1)">{{ i + 1 }}</a>
                                          </li>
                                          <li class="page-item" [class.disabled]="currentPageSub === totalPagesSub">
                                            <a class="page-link" (click)="setPageSub(currentPageSub + 1)">Next</a>
                                          </li>
                                        </ul>
                                      </nav>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>



            </div>


        </main>
    </div>
</div>