<app-navbar></app-navbar>
<div class="" style="padding: 0 0px !important; overflow-x: hidden">
    <div class="row">
        <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
            <div class="content">

                <!-- Sale & Revenue Start -->
                <div class="container-fluid p-6" style="padding: 32px;">
                    <div *ngxPermissionsOnly="['client_view_check_history']" class="flex">
                        <div class="sear" style="width: 45%;">
                            <h3 class="">Your search history</h3>
                        </div>
                        <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
                        <button type="reset" class="btn btn-warning py-1 px-4 fs-5">Export <img src="../../assets/ic-local-printshop-24px.png" alt=""></button>
                    </div>

                    <div *ngxPermissionsOnly="['client_view_check_history']" class="p-2 mt-4">
                        <div class="row">
                            <div class="col card table-responsive">
                                <table class="table" style="margin-bottom: 220px;">
                                    <thead>
                                        <tr>
                                            <th class="text-center">No</th>
                                            <th class="px-3">STATUS</th>
                                            <th class="text-center">DETAILS</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="!noCheck">
                                        <tr *ngFor="let check of pagedItems">
                                            <td *ngIf="check.check.status == 'insured' || check.check.status == 'expired'" class="text-center py-4">{{check.automobile.license_plate_number}}</td>
                                            <td>
                                                <div class="container mt-3">
                                                    <div class="active px-4 py-1">
                                                        <div *ngIf="check.check.status == 'insured'" class="status-active">Active</div>
                                                        <div *ngIf="check.check.status == 'expired'" class="status-expired">Expired</div>
                                                        <div *ngIf="check.check.status == 'not_found'" class="status-expired">Not found</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="min-width: 300px !important;">
                                                <div class="d-flex justify-content-around">
                                                    <div>
                                                        <span *ngIf="check.check.status == 'insured' || check.check.status == 'expired'" class="back1">Insurance company: <br> Policy number: <br> coverage details: <br> Expiration date:</span>
                                                    </div>
                                                    <div>
                                                        <span *ngIf="check.check.status == 'insured' || check.check.status == 'expired'"> <br> {{check.insurance_policy.policy_number}}<br>  <br> {{check.automobile.expiredate | date: "dd/MM/yyyy"}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="noCheck">
                                        <tr class="text-center w-100">
                                            <div class="text-center">
                                                <strong>{{noCheck}}</strong>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination" *ngIf="totalPages > 1">
                                    <button (click)="previousPage()" [disabled]="currentPage === 1" class="pagination-no">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L6.707 7l4.647 4.646a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708 0z"/>
                                        </svg>
                                    </button>
                                    <span class="pagination-no">Page {{currentPage}} of {{totalPages}}</span>
                                    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-no">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l5 5a.5.5 0 0 1 0 .708l-5 5a.5.5 0 1 1-.708-.708L9.293 8 4.646 3.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngxPermissionsOnly="['client_view_check_history']" class="container-fluid p-6" style="padding: 32px;">
                    <div class="flex">
                        <div class="sear" style="width: 45%;">
                            <h3 class="">Verification History</h3>
                        </div>
                        <app-search-bar (searchEvent)="onSearchS($event)"></app-search-bar>
                    </div>

                    <div *ngxPermissionsOnly="['client_view_check_history']" class="p-2 mt-4">
                        <div class="row">
                            <div class="col card table-responsive">
                                <table class="table" style="margin-bottom: 220px;">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Date</th>
                                            <th class="px-3">STATUS</th>
                                            <th class="text-center">DETAILS</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="!noCheck2">
                                        <tr *ngFor="let subcheck of pagedItems2">
                                            <td class="text-center py-4">{{subcheck.created_at | date: "dd/MM/yyyy"}}</td>
                                            <td>
                                                <div class="container mt-3">
                                                    <div class="active px-4 py-1">
                                                        <div *ngIf="subcheck.status == 'completed'" class="status-active">Completed</div>
                                                        <div *ngIf="subcheck.status == 'pending'" class="status-expired">Pending</div>
                                                        <div *ngIf="subcheck.status == 'failed'" class="status-expired">Failed</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="min-width: 300px !important;">
                                                <div class="d-flex justify-content-around">
                                                    <div>
                                                        <span class="back1">Details:</span>
                                                    </div>
                                                    <div>
                                                        <span>{{subcheck.details}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="noCheck2">
                                        <tr class="text-center w-100">
                                            <div class="text-center">
                                                <strong>{{noCheck2}}</strong>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination" *ngIf="totalPages2 > 1">
                                    <button (click)="previousPage2()" [disabled]="currentPage2 === 1" class="pagination-no">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L6.707 7l4.647 4.646a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708 0z"/>
                                        </svg>
                                    </button>
                                    <span class="pagination-no">Pages{{currentPage2}} of {{totalPages2}}</span>
                                    <button (click)="nextPage2()" [disabled]="currentPage2 === totalPages2" class="pagination-no">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l5 5a.5.5 0 0 1 0 .708l-5 5a.5.5 0 1 1-.708-.708L9.293 8 4.646 3.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
