<app-navbar></app-navbar>
<div class="" style="padding: 0 0px !important; overflow-x: hidden">
    <div class="row">
        <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
            <div class="content">

                <!-- Sale & Revenue Start -->
                <div class="container-fluid p-6" style="padding: 32px;">
                    <div *ngxPermissionsOnly="['client_view_check_history']" class="flex">
                        <div class="sear" style="width: 45%;">
                            <h3 class="">Your search history</h3>
                        </div>
                        <div class=" mt-3 sear2" style="padding: 0px;">
                            <div class="btn-group grouppp sear3" role="group" aria-label="Basic example">
                        
                                <div class="sous-group">
                                    <img src="../../assets/filter.png" alt="">
                                </div>
                                <div class="sous-group">
                                    <span>filter by</span>
                                </div>
                                <div class="col-auto btn-light sous-group">
                                    <select [(ngModel)]="selectedStatus" class="form-select bg-light" aria-label="Default select example">
                                        <option *ngFor="let category of status" [value]="category">{{ category }}</option>
                                    </select>
                                </div>
                                <div  style="text-align: center;">
                                    <span><a type="button" class="res"><img src="../../assets/ic-replay-24px.png" alt=""> Reset filter</a></span>
                                </div>
                        
                            </div>
                        
                        </div>
                        <button type="button" (click)="exportToPDF()" class="btn btn-warning py-1 px-4 fs-5">Export <img src="../../assets/ic-local-printshop-24px.png" alt=""></button>
                    </div>

                    <div *ngxPermissionsOnly="['client_view_check_history']" class="p-2 mt-4">
                        <div class="row">
                          <div class="col card table-responsive">
                            <table class="table" style="margin-bottom: 220px;">
                              <thead>
                                <tr>
                                  <th class="text-center">VIN/License plate</th>
                                  <th class="px-3">STATUS</th>
                                  <th class="text-center">DETAILS</th>
                                </tr>
                              </thead>
                              <tbody *ngIf="!noCheck">
                                <tr *ngFor="let check of paginatedChecks; let i = index">
                                  <td *ngIf="check.check.status == 'not_found'" class="text-center py-4">XXXXXX</td>
                                  <td *ngIf="check.check.status == 'insured' || check.check.status == 'expired'" class="text-center py-4">{{check.automobile.license_plate_number}}</td>
                                  <td *ngIf="check.check">
                                    <div class="container mt-3">
                                      <div class="active px-4 py-1">
                                        <div *ngIf="check.check.status == 'insured'" class="status-active">Active</div>
                                        <div *ngIf="check.check.status == 'expired'" class="status-expired">Expired</div>
                                        <div *ngIf="check.check.status == 'not_found'" class="status-expired">Not found</div>
                                      </div>
                                    </div>
                                  </td>
                                  <td *ngIf="check.check" style="min-width: 300px !important;">
                                    <div class="d-flex justify-content-around">
                                      <div>
                                        <span *ngIf="check.check.status == 'not_found'" class="back1">No data</span>
                                        <span *ngIf="check.check.status == 'insured' || check.check.status == 'expired'" class="back1">Insurance company: <br> Policy number: <br> Expiration date:</span>
                                      </div>
                                      <div>
                                        <span *ngIf="check.check.status == 'insured' || check.check.status == 'expired'"> Africa assurance <br> {{check.insurance_policy.policy_number}}  <br> {{check.automobile.expiredate | date: "dd/MM/yyyy"}}</span>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="noCheck">
                                <tr class="text-center w-100">
                                  <div class="text-center">
                                    <strong>{{noCheck}}</strong>
                                  </div>
                                </tr>
                              </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-center">
                                <li class="page-item" style="cursor: pointer;" [class.disabled]="currentPage === 1">
                                  <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
                                </li>
                                <li class="page-item" style="cursor: pointer;" *ngFor="let page of getPaginationRange2()" [class.active]="currentPage === page">
                                  <a class="page-link" (click)="setPage(page)">{{ page }}</a>
                                </li>
                                <li class="page-item" style="cursor: pointer;" [class.disabled]="currentPage === totalPages">
                                  <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
                                </li>
                              </ul>
                            </nav> 
                          </div>
                        </div>
                      </div>                      
                </div>

                <div *ngxPermissionsOnly="['client_view_check_history']" class="container-fluid p-6" style="padding: 32px;">
                  <div class="flex">  
                    <div class="sear" style="width: 45%;">
                        <h3 class="">Verification history</h3>
                    </div>
                    <div class=" mt-3 sear2 d-flex justify-content-between">
                      <div class="btn-group grouppp sear3" role="group" aria-label="Basic example">
                        <input type="search" class="form-control" placeholder="Search user" style="background-color: #F5F6FA; color: #202224; margin-bottom: 5px;" id="startDate" >
                      </div>  
                      <div class="btn-group grouppp sear3" role="group" aria-label="Basic example">
                    
                            <div class="sous-group">
                                <img src="../../assets/filter.png" alt="">
                            </div>
                            <div class="sous-group">
                                <span>filter by</span>
                            </div>
                            <div class="col-auto btn-light sous-group">
                                <select [(ngModel)]="selectedStatuss" class="form-select bg-light" aria-label="Default select example">
                                    <option *ngFor="let categorys of status" [value]="categorys">{{ categorys }}</option>
                                </select>
                            </div>
                        </div>
                        
                      </div>
                      <button type="button" (click)="exportToPDF2()" class="btn btn-warning py-1 px-4 fs-5">Export <img src="../../assets/ic-local-printshop-24px.png" alt=""></button>
                  </div> 
                        <div class=" mt-4">
                            <div class="row" style="padding-left: 13px;">
                                <div class="col card table-responsive">
                                    <table class="table " style="margin-bottom: 200px;">
                                        <thead>
                                            <tr class="">
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>User</th>
                                                <th class="px-5">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let check of paginatedSubChecks; let i = index">
                                                <td>{{check.check.check_date | date: "dd/MM/yyyy"}}</td>
                                                <td>{{check.check.check_date | date: "hh:mm:ss"}}</td>
                                                <td>
                                                    {{ findUser(check.check.user_id) | async }}
                                                    <img *ngIf="check.automobile !== null" src="../../assets/Box Important.png"
                                                    (click)="toggleInfo($event, check.check.id)"
                                                        style="width: 20px; margin-top: -2px;">

                                                    <div class="modale-info" *ngIf="isInfoVisible(check.check.id)">
                                                        <div
                                                            style="color: rgba(145, 142, 244, 1); text-align: center;">
                                                            More information
                                                        </div>
                                                        <div *ngIf="check.automobile !== null" class="d-flex mt-2 dep">
                                                            <div class="pl-4 results-left"
                                                                style="font-weight: 200;">
                                                                <span *ngIf="check.automobile.make">Automobile Make: </span> <br>
                                                                <span class="mt-1">Model</span> <br>
                                                                <span class="mt-1">Owner’s name  </span><br>
                                                                <span class="mt-1">Policy number  </span><br>
                                                                <span class="mt-2">VIN number </span><br>
                                                                <span class="pt-5">Expiration date </span>
                                                            </div>
                                                            <div class="divider"></div>
                                                            <div>
                                                                <h6 class="text-dark">{{check.automobile.make}} </h6>
                                                                <h6 class="text-dark">{{check.automobile.model}} </h6>
                                                                <h6 class="text-dark">{{check.automobile.owername}}</h6>
                                                                <h6 class="text-dark">{{check.automobile.policy_number}}</h6>
                                                                <h6 class="text-dark"> {{check.automobile.vin}} </h6>
                                                                <h6 class="text-dark">{{check.automobile.expiredate | date: "dd/MM/yyyy"}} </h6>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="check.automobile == null" class="d-flex mt-2 dep">
                                                            No data
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="padding-top: 3px !important;">
                                                    <div class="container ">
                                                        <div *ngIf="check.check.status == 'insured'" class="status-active px-2 py-2">
                                                            <h6>Active</h6>
                                                        </div>
                                                        <div *ngIf="check.check.status == 'expired'" class="status-expired px-2 py-2">
                                                            <h6>Expired</h6>
                                                        </div>
                                                        <div *ngIf="check.check.status == 'not_found'" class="status-expired px-2 py-2">
                                                            <h6>Not found</h6>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="noCheck2">
                                            <tr class="text-center w-100">
                                                <div class="text-center">
                                                    <strong>{{noCheck2}}</strong>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation example">
                                      <ul class="pagination justify-content-center">
                                        <li class="page-item" style="cursor: pointer;" [class.disabled]="currentPageSub === 1">
                                          <a class="page-link" (click)="setPageSub(currentPageSub - 1)">Previous</a>
                                        </li>
                                        <li class="page-item" style="cursor: pointer;" *ngFor="let page of getPaginationRange()" [class.active]="currentPageSub === page">
                                          <a class="page-link" (click)="setPageSub(page)">{{ page }}</a>
                                        </li>
                                        <li class="page-item" style="cursor: pointer;" [class.disabled]="currentPageSub === totalPagesSub">
                                          <a class="page-link" (click)="setPageSub(currentPageSub + 1)">Next</a>
                                        </li>
                                      </ul>
                                    </nav>                                    
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </main>
    </div>
</div>