<app-navbar></app-navbar>
<div class="" style="padding: 0 0px !important;
overflow-x: hidden;">
    <div class="row">
        <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content" style="padding-left: 2rem !important;">
            <div class="content">

                <section class="container-fluid pt-4 px-4">
                    <div class="col-lg-12 col-md-12 col-12"><div>

                        <div *ngxPermissionsOnly="['client_view_client_users']" class="flex" style="margin-top: 20px;">
                            <div class="sear" style="width: 30%;">
                                <h3 >Your users</h3>
                            </div>
    
                            <div class=" mt-1 sear2" style="padding: 0px;">
                                <div class="btn-group grouppp sear3" role="group" aria-label="Basic example">
    
                                    <div class="sous-group24">
                                        <img src="../../assets/filter.png" alt="">
                                    </div>
                                    <div class="sous-group24">
                                        <span>filter by</span>
                                    </div>
                                    <div class="col-auto btn-light sous-group24">
                                        <select class="form-select bg-light">
                                            <option selected>Department</option>
                                        </select>
                                    </div>
                                    <div class="col-auto btn-light sous-group24">
                                        <select class="form-select bg-light">
                                            <option selected>Position</option>
                                        </select>
                                    </div>
                                    <div  style="text-align: center;">
                                        <span><a href="" class="res"><img src="../../assets/ic-replay-24px.png" alt=""> Reset filter</a></span>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <button *ngxPermissionsOnly="['client_create_user']" (click)="navigateToCreateUserAccounts()" type="button" class=" btn-warning btn  px-5 py-2 ">Add new user</button>
    
                        </div>


                    </div>
                </div>
        
                    
                    <!-- La liste des users -->
                    <div *ngxPermissionsOnly="['client_view_client_users']" class="row g-4 mt-3 ml-1">
                        <div *ngFor="let user of users" class="col-sm-6 col-xl-3 col-custom">
                            <div class="bg-white justify-content-between p-4 case-user-detail " style="cursor: pointer;">
                                <div  class="nav-item dropdown" style="font-size: 15px; color: rgba(64, 64, 64, 1);">
                                    <div  class="nav-link " data-bs-toggle="dropdown">
                                        <img class="rounded-circle me-lg-2" [src]="'https://insuretinz.s3.amazonaws.com/' + user.photo" alt="" style="height: 150px;">
                                        <div class="utilisateur">
                                            <h5 class="" style="color: black; font-size: medium;"> {{ user.primary_contact_name }} {{ user.secondary_contact_name }} </h5>
                                            <span class="text-dark" style="font-size: initial;">{{ user.primary_contact_title }}</span>
                                            <span class="text-dark mt-2" style="font-style: italic;"> {{ user.primary_business_phone_number }} </span>
                                        </div>
                                    </div>
                                    <div class="menu-detail dropdown-menu p-2">
                                        <a *ngxPermissionsOnly="['client_view_client_user_details']" [routerLink]="'/details-user/'+ user.id"  class="dropdown-item ">
                                            <span class="">Details</span>
                                        </a>
                                        <hr>
                                        <a *ngIf="user.status == 'active' "  class="dropdown-item" >
                                            <span class="" *ngxPermissionsOnly="['client_activate_or_deactivate_client_user']" (click)="deactivate(user.id)">Desactivate</span>
                                        </a>
                                        <a *ngIf="user.status == 'inactive' " class="dropdown-item " >
                                            <span  class="" *ngxPermissionsOnly="['client_activate_or_deactivate_client_user']" (click)="deactivate(user.id)" >Activate</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>


        </main>
    </div>
</div>