<div class="" style="padding: 0 0px !important;
overflow-x: hidden;">
    <div class="row">
        <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
            <div class="content">

                <!-- Sale & Revenue Start -->
                <div class="container-fluid pt-4 px-4 subc">

                    <section class="container">
                        <h2 class="py-1">Your profile</h2>

                        <div class="contient">
                            <div class="d-flex custom-gradient p-2 text-end">
                                <div *ngIf="photoUrl" class="box">
                                  <img [src]="photoUrl" class="img-thumbnail box">
                                </div>
                                <div class="cont text-center h-100"><p class="fs-4 ms-4 text-white h-100 align-items-end" style="">{{firstname}} {{lastname}} <br> <a data-bs-toggle="modal" data-bs-target="#profilePhotoModal" class="h-100 fs-6 text-warning ">Edit your photo</a></p></div>
                            </div>
                              <!-- The Modal -->
                              <div class="modal fade" id="profilePhotoModal" tabindex="-1" aria-labelledby="profilePhotoModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="profilePhotoModalLabel">Update profil picture</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                      <form (ngSubmit)="onSubmitPhoto()" enctype="multipart/form-data">
                                        <div class="mb-3">
                                          <label for="photo" class="form-label">Choisir une photo :</label>
                                          <input type="file" id="photo" class="form-control" (change)="onFileSelected($event)">
                                        </div>
                                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="bg-white mt-5 wadi">
                                <div class="">
                                  <form name="form" #LoginForm="ngForm" (ngSubmit)="LoginForm.valid && onSubmit()" class="row g-3">
                                    <div class="col-md-6">
                                      <label for="firstName" class="form-label">First Name</label>
                                      <input type="text" [value]="form.firstName"  name="firstName" class="form-control champ" [(ngModel)]="form.firstName" #firstName="ngModel" id="firstName" placeholder="First Name" required>
                                    </div>
                                    <div class="col-md-6">
                                      <label for="lastName" class="form-label">Last Name</label>
                                      <input type="text" [value]="form.lastName" name="lastName" class="form-control champ" [(ngModel)]="form.lastName" #lastName="ngModel" id="lastName" placeholder="Last Name" required>
                                    </div>
                                    <div class="col-md-6">
                                      <label for="email" class="form-label">Your Email</label>
                                      <div class="d-flex form-control champ justify-content-between">
                                        <input disabled="" type="email" [value]="form.email" name="email" class="w-75 border-0 h-100" [(ngModel)]="form.email" #email="ngModel" id="email" placeholder="name.example.com" required>
                                        <i class="fas fa-lock mt-2"></i>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <label for="phoneNumber" class="form-label">Phone Number</label>
                                      <input
                                        type="tel"
                                        [value]="form.phoneNumber"
                                        name="phoneNumber"
                                        class="form-control champ"
                                        [(ngModel)]="form.phoneNumber"
                                        #phoneNumber="ngModel"
                                        id="phoneNumber"
                                        placeholder="00000000"
                                        required
                                        pattern="^\d{8}$"
                                      />
                                      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="text-danger fs-9">
                                        <div *ngIf="phoneNumber.errors?.['required']">Phone number is required.</div>
                                        <div *ngIf="phoneNumber.errors?.['pattern']">Invalid phone number format. Expected format: 00000000.</div>
                                      </div>
                                    </div>
                                    
                                    
                                    <div class="col-md-6">
                                      <label for="password" class="form-label">Password</label>
                                      <div class="d-flex input-group ">
                                        <input type="password" [value]="form.password" name="password" class="w-80 champ" style="width: 88%;" [(ngModel)]="form.password" #password="ngModel" id="password" placeholder="Password" required>
                                          <span style="width: 12%;" class="input-group-text" id="togglePassword" (click)="togglePasswordVisibility()">
                                            <i class="fa fa-eye" id="toggleIcon"></i>
                                          </span>
                                      </div>
                                      <div *ngIf="msg">
                                        <p class="text-danger">{{ msg }}</p>
                                      </div>
                                    </div>
                                    
                                    <div class="d-flex col-6 my-5">
                                      <a (click)="sendOtp()" class="d-flex btn">
                                        <i class="bi bi-arrow-clockwise text-primary"></i>
                                         <p style="color: #9b9a9a;"> <u>Reset Password</u></p>
                                      </a>
                                    </div>
                                    <div *ngIf="success_msg" class="text-success">
                                      {{ success_msg }}
                                    </div>
                                    <div class="w-100 d-flex justify-content-center mt-2 ">
                                      <button type="submit" class="w-50 btn btn-warning pading"> Update </button>
                                    </div>
                                  </form>
                                </div>
                          
                              </div>
                        </div>

                        
                    </section>



                </div>



            </div>


        </main>
    </div>
</div>

<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>