<app-navbar></app-navbar>
<div class="" style="padding: 0 0px !important;
overflow-x: hidden;">
    <div class="row">
        <app-sidebar style="padding-right: 0 !important;"></app-sidebar>

        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content">
            <div class="content">

                <section class="container-fluid pt-4 px-4">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div>
                            <div class="">
                                <h3 class="mb-0 mb-2 mb-lg-0 text-dark" style=" margin-left: 40px;">User's details</h3>

                                <div class="det2">
                                    <div class="de">
                                        <div class="details22">
                                            <p>First name :</p> <p>{{user.primary_contact_name}}</p>
                                        </div>
                                        <div class="details22">
                                            <p>Last name :</p> <p>{{user.secondary_contact_name}}</p>
                                        </div>
                                        <div class="details22">
                                            <p>Email :</p> <p>{{user.email}}</p>
                                        </div>
                                        <div class="details22">
                                            <p>Phone number :</p> <p>+229 {{user.primary_business_phone_number}}</p>
                                        </div>
                                        <div class="details22">
                                            <p>Department :</p> <p>{{user.state}}</p>
                                        </div>
                                        <div class="details22">
                                            <p>Status :</p> <p>{{user.status}}</p>
                                        </div>
                                        <div class="details22">
                                            <p>User type :</p> <p>{{user.user_type}}</p>
                                        </div>
                                        <div class="details22">
                                            <p>Credits :</p> <p>{{user.credits}}</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="m-5">
                                    <div class="d-flex justify-content-between">  
                                        <div class="sear" style="width: 45%;">
                                            <h3 class="">Verification history</h3>
                                        </div>
                                        <div class=" mt-3 sear2 d-flex justify-content-between">
                                            <div class="btn-group grouppp sear3" role="group" aria-label="Basic example">
                                        
                                                <div class="sous-group">
                                                    <img src="../../assets/filter.png" alt="">
                                                </div>
                                                <div class="sous-group">
                                                    <span>filter by</span>
                                                </div>
                                                <div class="col-auto btn-light sous-group">
                                                    <select [(ngModel)]="selectedStatuss" class="form-select bg-light" aria-label="Default select example">
                                                        <option *ngFor="let categorys of statuss" [value]="categorys">{{ categorys }}</option>
                                                    </select>
                                                </div>
                                                <!-- <div  style="text-align: center;">
                                                    <span><a type="button" class="res"><img src="../../assets/ic-replay-24px.png" alt=""> Reset filter</a></span>
                                                </div> -->
                                        
                                            </div>
                                            <!-- <button type="button" (click)="exportToPDF()" class="btn btn-warning py-1 px-4 fs-5">Export <img src="../../assets/ic-local-printshop-24px.png" alt=""></button> -->
                                        
                                        </div>
                                      </div> 
                                       
                                    <div class=" mt-4">
                                        <div class="row" style="padding-left: 13px;">
                                            <div class="col card table-responsive">
                                                <table class="table " style="margin-bottom: 200px;">
                                                    <thead>
                                                        <tr class="">
                                                            <th>Date</th>
                                                            <th>Time</th>
                                                            <th>User</th>
                                                            <th class="px-5">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let check of paginatedChecks; let i = index">
                                                            <td>{{check.check.check_date | date: "dd/MM/yyyy"}}</td>
                                                            <td>{{check.check.check_date | date: "hh:mm:ss"}}</td>
                                                            <td>
                                                                {{ findUser(check.check.user_id) | async }}
                                                                <img *ngIf="check.automobile !== null" src="../../assets/Box Important.png"
                                                                (click)="toggleInfo($event, check.check.id)"
                                                                    style="width: 20px; margin-top: -2px;">
            
                                                                <div class="modale-info" *ngIf="isInfoVisible(check.check.id)">
                                                                    <div
                                                                        style="color: rgba(145, 142, 244, 1); text-align: center;">
                                                                        More information
                                                                    </div>
                                                                    <div *ngIf="check.automobile !== null" class="d-flex mt-2 dep">
                                                                        <div class="pl-4 results-left"
                                                                            style="font-weight: 200;">
                                                                            <span *ngIf="check.automobile.make">Automobile Make: </span> <br>
                                                                            <span class="mt-1">Model</span> <br>
                                                                            <span class="mt-1">Owner’s name  </span><br>
                                                                            <span class="mt-1">Policy number  </span><br>
                                                                            <span class="mt-2">VIN number </span><br>
                                                                            <span class="pt-5">Expiration date </span>
                                                                        </div>
                                                                        <div class="divider"></div>
                                                                        <div>
                                                                            <h6 class="text-dark">{{check.automobile.make}} </h6>
                                                                            <h6 class="text-dark">{{check.automobile.model}} </h6>
                                                                            <h6 class="text-dark">{{check.automobile.owername}}</h6>
                                                                            <h6 class="text-dark">{{check.automobile.policy_number}}</h6>
                                                                            <h6 class="text-dark"> {{check.automobile.vin}} </h6>
                                                                            <h6 class="text-dark">{{check.automobile.expiredate | date: "dd/MM/yyyy"}} </h6>
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="check.automobile == null" class="d-flex mt-2 dep">
                                                                        No data
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td style="padding-top: 3px !important;">
                                                                <div class="container ">
                                                                    <div *ngIf="check.check.status == 'insured'" class="status-active px-2 py-2">
                                                                        <h6>Active</h6>
                                                                    </div>
                                                                    <div *ngIf="check.check.status == 'expired'" class="status-expired px-2 py-2">
                                                                        <h6>Expired</h6>
                                                                    </div>
                                                                    <div *ngIf="check.check.status == 'not_found'" class="status-expired px-2 py-2">
                                                                        <h6>Not found</h6>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <div *ngIf="noCheck">
                                                        <div class="text-center w-100">
                                                            <p class="text-center">
                                                                <strong>{{noCheck}}</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </table>
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center">
                                                      <li class="page-item" [class.disabled]="currentPage === 1">
                                                        <a class="page-link" (click)="setPage(currentPage - 1)">Previous</a>
                                                      </li>
                                                      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
                                                        <a class="page-link" (click)="setPage(i + 1)">{{ i + 1 }}</a>
                                                      </li>
                                                      <li class="page-item" [class.disabled]="currentPage === totalPages">
                                                        <a class="page-link" (click)="setPage(currentPage + 1)">Next</a>
                                                      </li>
                                                    </ul>
                                                  </nav>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- La liste des users -->

                </section>


            </div>


        </main>
    </div>
</div>