<div class="mt-auto">
    <hr>
<div id="myModal" class="modale">
    <div class="modal-contenu shadow-lg">
        <div class="" style="text-align: center;">
            Are you sure you want to logout?
        </div>
        <div class="" style="margin-top: 10px;">
            <button type="button" (click)="onSubmit()" class="btn " style="color: #07AA2B;">Yes</button>
            <button type="button" (click)="onClose()" class="btn "
                style="margin-left: 80px; color: #E65440;">No</button>
        </div>
    </div>
</div>
</div>
